server:
  name: "interfaces"
  addr: "127.0.0.1:8300"
zap:
  debugFileName: "/Users/wangcheng/Documents/golang/src/newsCenter/logs/error/error.logs"
  infoFileName: "/Users/wangcheng/Documents/golang/src/newsCenter/logs/error/error.logs"
  warnFileName: "/Users/wangcheng/Documents/golang/src/newsCenter/logs/error/error.logs"
  maxSize: 500,
  maxAge: 28,
  MaxBackups: 3,
etcd:
  addr:
    - "127.0.0.1:12379"
mysql:
  username: root
  password: root
  host: 127.0.0.1
  port: 3310
  db: newsCenter
redis:
  host: "localhost"
  port: 6379
  password: ""
  db: 0
jaeger:
  endpoints: "http://localhost:14268/api/traces"